---
# Only the main Sass file needs front matter (the dashes are enough)
---

$grey-dark: #717171;
$grey: #E3E3E3;
$grey-light: #F4F4F4;
$blue-light: #568696;
$blue: #2B5D6D;
$blue-dark: #093847;
$red: #F57C5D;
$orange: #FB8D5B;
$yellow: #FBBF00;
$yellow-lighter: #FBBF00;
$color-high: #FF5858;
$color-medium: #F69047;
$color-low: #FEDA68;



@charset "utf-8";

@import "base";
