---
layout: page
---

<div class="container bg-grey">
  <section id="fulfillment">
    <div class="row">
      <h1 class="text-center">Cumplimiento de las medidas</h1> <br>
      <div class="col-md-5">
        <div><p>Vigilantes por la Infancia es una metodología y plataforma que analiza los compromisos contenidos en el <a href="http://www.ministeriodesarrollosocial.gob.cl/storage/docs/Acuerdo_Nacional_por_la_Infancia_VF.pdf" target="_blank"> Acuerdo Nacional por la Infancia</a>, midiendo el nivel de cumplimiento de las distintas medidas a lo largo del mandato del actual Gobierno.</p>
        </div>
      </div>
      <div class="col-md-4 chart-total">
          <p class="totalbajada">de avance</p>
          <p class="textototal">Del total de las propuestas</p>
        </div>
        <div class="col-md-3">
            <div class="text-center ct-label">{{site.final_mark}}</div>
          <p class="notatotal">Nota de calidad</p>
        </div>

        <script>
        var cumplimiento = {{ site.final_percentage }};
        $(function() {
        new Chartist.Pie('.chart-total', {
          labels: [cumplimiento + "%"],
          series: [parseInt(cumplimiento)]
        }, {
          donut: true,
          total:100,
          donutWidth: 15,
          startAngle: 0,
          showLabel: true,
          labelOffset: -60,
        }, [
          ['screen and (max-width: 1199px)', {
            labelOffset: -68
          }],
          ['screen and (max-width: 991px)', {
            labelOffset: -70
          }],
          ['screen and (max-width: 320px)', {
            labelOffset: -60
          }]
        ]);
        });
        </script>
    </div>
    <div class="container" ng-controller="PromissesController">
      <!--[[promisses]]-->
      <ul class="list-inline text-center macroareas">
        <li ng-repeat="ma in macro_area"><a href="#fulfillment-[[$index]]"><span class="label label-default">[[ma]]</span></a></li>
      </ul>
    </div>
  </section>
</div>
<div class="container">
  <section id="fulfillment">
    {% include fulfillment.html %}
  </section>
</div>
