<div id="about">

  <div class="col-md-3 col-sm-1 "> </div>
  <div class="col-md-6 col-sm-10 ">
    <p class="bajada"> Vigilantes por la Infancia es una plataforma que le permite a la ciudadanía ejercer control social sobre tomadores y tomadoras de decisiones en materia de infancia. Ésta contiene un análisis de los compromisos adquiridos en el <a href="http://www.ministeriodesarrollosocial.gob.cl/storage/docs/Acuerdo_Nacional_por_la_Infancia_VF.pdf" target="_blank">Acuerdo Nacional por la Infancia</a>, y mide el nivel de cumplimiento de las distintas propuestas realizadas por el actual Gobierno.
  </p>
  </div>
  <div class="col-md-3 col-sm-1 "> </div>


</div>
