<div id="about">

  <div class="col-md-3 col-sm-1 "> </div>
  <div class="col-md-6 col-sm-10 ">
    <p class="bajada">Vigilantes por la Infancia es una metodología y plataforma que analiza los compromisos contenidos en el <a href="http://www.ministeriodesarrollosocial.gob.cl/storage/docs/Acuerdo_Nacional_por_la_Infancia_VF.pdf" target="_blank"> Acuerdo Nacional por la Infancia</a>, midiendo el nivel de cumplimiento de las distintas medidas a lo largo del mandato del actual Gobierno. El proyecto entrega información clara y comprensible que permite a la ciudadanía ejercer control social sobre tomadores de decisiones en la materia.</p>
  </div>
  <div class="col-md-3 col-sm-1 "> </div>


</div>
