<div id="about">

  <div class="col-md-3 col-sm-1 "> </div>
  <div class="col-md-6 col-sm-10 ">
    <p class="bajada">Lorem ipsum dolor sit amet consectetur adipiscing elit nostra, sem dictumst sagittis torquent ullamcorper eros vivamus, quam elementum maecenas feugiat id himenaeos aptent. Mattis eros hendrerit curae aenean eu tristique fames dictum ullamcorper, morbi ut tellus conubia nullam imperdiet pellentesque quisque fusce, taciti vulputate eleifend tempus.</p>
  </div>
  <div class="col-md-3 col-sm-1 "> </div>


</div>
