<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-sm-12 text-left">
        <p class="white ">Un proyecto de:</p>
        <a href="https://ciudadaniai.org/" target="_blank" class="text-center">
          <img src="{{ site.baseurl }}img/logo-ciudadanoi-nuevo.png" title="Ciudadanía Inteligente" class="img-logo-horizontal logo-footer">
             
        </a>
        <a href="http://comunidad-org.cl/" target="_blank" class="text-center">
          <img src="{{ site.baseurl }}img/logo-cos.png" title="Comunidad de organizaciones solidarias" class="img-logo-vertical logo-footer">
        </a>
        <a href="http://observatorioparalaconfianza.cl/" target="_blank" class="text-center"><img src="{{ site.baseurl }}img/logo-oplc.png" title=" Observatorio para la confianza" class="img-logo-horizontal logo-footer"></a>
      </div>
   <div class="col-md-8 col-sm-12 text-center">
        <p class="white ">Con el apoyo de:</p>   
             <a href="https://www.fundacioncolunga.org/" target="_blank" class="text-center">
          <img src="{{ site.baseurl }}img/logo-colunga.png" title="Colunga" class="img-logo-vertical logo-footer">
     
      </div>
      <div class="col-md-4 col-sm-12 text-right">
        <p class="white text-right"> <a href='mailto:vigilantesporlainfancia@gmail.com'> <i class="far fa-envelope"></i>  Contáctanos <br> vigilantesporlainfancia@gmail.com</a> </p> <br>
        <p class="white text-right"> <a href='https://github.com/ciudadanointeligente/vigilantes'> <i class="far fa-file-code"></i> Revisa el código en Github</a> </p>

      </div>

    </div>

  </div>
</footer>
