<div class="container" id="about">

  <br>
  <h3 class="text-center"> Lanzamiento Vigilantes por la Infancia </h3>

  <p class="text-center"> Vigilantes por la Infancia es una iniciativa donde haremos seguimiento al cumplimiento del <a href="http://www.ministeriodesarrollosocial.gob.cl/storage/docs/Acuerdo_Nacional_por_la_Infancia_VF.pdf" target="_blank"> Acuerdo Nacional por la Infancia </a>, con el fin de generar una herramienta de incidencia de la ciudadanía y la sociedad civil. </p>

  <br> <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4 class=""> Detalles del evento </h4>
      <p><strong>¿Cuándo?</strong> Lunes 26 de noviembre </p>
      <p><strong>¿A qué hora?</strong> 10:30 – 12:00 </p>
      <p><strong>¿Dónde?</strong> Ex Congreso Nacional </p>
      <br> <br>
      <h4 class=""> Programa </h4>
      <ul>
        <li>Presentación del proyecto</li>
        <li>Resultados de la consulta a expertos/as</li>
        <li>Avance actual del Acuerdo Nacional por la Infancia</li>
      </ul>

    </div>
    <div class="col-md-6 col-sm-12">
      <h4 class=""> ¡Inscrébete! </h4>

      <form method="POST" action="https://formspree.io/observatorio@paralaconfianza.com" class="form">
        <div class="form-container">
          <p>Tu Nombre (requerido)</p>
          <label class="w-100"> <input type="text" placeholder="Nombre" name="name" required> </label>
        </div>
        <div class="form-container">
          <p> Tu Organización (requerido) </p>
          <label class="w-100">
              <input type="text" placeholder="Organización" name="organizacion" required>
          </label>
        </div>
        <div class="form-container">
          <p>Tu email (requerido)</p>

          <label class="w-100">
            <input type="email" placeholder="Email" name="_replyto" required>
          </label> <br>
        </div>
        <div class="text-right">
          <input type="submit" class="btn btn-primary" name="submit" value="Enviar">
        </div>
    </form>


    </div>
  </div>

</div>
