<div class="container" id="about">

  <br>
  <h3 class="text-center"> Lanzamiento Vigilantes por la Infancia </h3>

  <p class="text-center"> Vigilantes por la Infancia es una iniciativa donde haremos seguimiento al cumplimiento del <a href="http://www.ministeriodesarrollosocial.gob.cl/storage/docs/Acuerdo_Nacional_por_la_Infancia_VF.pdf" target="_blank"> Acuerdo Nacional por la Infancia </a>, con el fin de generar una herramienta de incidencia de la ciudadanía y la sociedad civil. </p>

  <br> <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4 class=""> Detalles del evento </h4>
      <p><strong>¿Cuándo?</strong> Lunes 26 de noviembre </p>
      <p><strong>¿A qué hora?</strong> 10:30 – 12:00 </p>
      <p><strong>¿Dónde?</strong> Ex Congreso Nacional </p>
      <br> <br>
      <h4 class=""> Programa </h4>
      <ul>
        <li>Presentación del proyecto</li>
        <li>Resultados de la consulta a expertos/as</li>
        <li>Avance actual del Acuerdo Nacional por la Infancia</li>
      </ul>

    </div>
    <div class="col-md-6 col-sm-12">
      <h4 class=""> ¡Inscribete! </h4>


      <form method="POST" action="https://formspree.io/observatorio@paralaconfianza.com" class="form">

        <label class="w-100">
            Tu Nombre (requerido)
            <input type="text" placeholder="Tu Nombre" name="name" required>
        </label>
        <label class="w-100">
            Tu Organización (requerido)
            <input type="text" placeholder="Tu Organización" name="organizacion" required>
        </label>
        <label class="w-100">
            Tu email (requerido)
            <input type="email" placeholder="nombre@email.com" name="_replyto" required>
        </label>

        <input type="submit" class="btn btn-primary" name="submit" value="Enviar">
    </form>


    </div>
  </div>

</div>
