<div id="summary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
      </div>
      <div class="col-md-8 col-sm-12">
        <h2 class="text-center white">Cumplimiento total de las medidas </h2>
        <div class="row">
          <div class="col-md-6 col-sm-12 chart-total chart-summary">
            <p class="textototal">de avance</p>
          </div>
          <div class="col-md-6 col-sm-12 mark-summary white">
              <div class="text-center ct-label white">{{ site.final_mark }}</div>
            <p class="notatotal text-center">Nota de calidad</p>
          </div>
        </div>
      </div>
      <script>
      var cumplimiento = {{ site.final_percentage }};
      $(function() {
      new Chartist.Pie('.chart-total', {
        labels: [cumplimiento + "%"," "],
        series: [100,parseInt(cumplimiento)]
      }, {
        donut: true,
        total: 100,
        donutWidth: 15,
        startAngle: 0,
        showLabel: true,
        labelOffset: -60,
      }, [
        ['screen and (max-width: 1199px)', {
          labelOffset: -68
        }],
        ['screen and (max-width: 991px)', {
          labelOffset: -70
        }],
        ['screen and (max-width: 320px)', {
          labelOffset: -60
        }]
      ]);
      });

      </script>
    </div>
  </div>
</div>

<div id="summary-graphs">

<div class="graphs container" ng-controller="MainController">
  <h2 class="text-center"> Áreas </h2> </br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-0">Protección Universal</a></p>
      <div class="ct-chart-1"></div>
      <p class="avancebajada">de avance</p>
      <h2 class="text-center note note-1"></h2>
      <p class="notabajada">Nota de calidad</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-1">Protección a la niñez en riesgo </a></p>
      <div class="ct-chart-2"></div>
      <p class="avancebajada">de avance</p>
      <h2 class="text-center note note-2"></h2>
      <p class="notabajada">Nota de calidad</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-2">Protección a la niñez vulnerada</a></p>
      <div class="ct-chart-3"></div>
      <p class="avancebajada">de avance</p>
      <h2 class="text-center note note-3"></h2>
      <p class="notabajada">Nota de calidad</p>
    </div>

  </div>
</div>

</div>
