<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ site.baseurl }}img/logo-blanco.png" ></img>
          <h2 class="white header">Monitoreo del cumplimiento del Acuerdo Nacional Por la Infancia 2018 </h2>
          <a href="{{ site.baseurl }}cumplimiento.html" class="btn btn-primary">Ver estado de avance</a>
        </div>
        <div class="col-md-6">
        </div>

      </div>
    </div>
  </div>
</div>
